<div class="col-lg-12 position-fixed">
    <a href="/ling" class="btn btn-success">share your ling as an idea</a>
</div>
<div class="mt-lg-5 mt-5 mb-5 mb-lg-2"></div>
<div class="row">
    
    {{#each ling}}
        <div class="col-lg-3 mt-lg-2 mt-2 mb-5 border-3 mb-lg-5">
            <button class="col-lg-12 card btn border-info border border-2 rounded-lg">
            {{!-- <div class=" col-lg-12  rounded-lg" style="height: 170px;"> --}}
                <div class="row no-gutters">
                    <div class=" col-lg-12  mt-lg-1 mb-lg-1"  >
                        <div class="card-body col-lg-12">
                            <span class="card-title float-lg-left">{{this.User.dataValues.name}}</span><br>
                            <p class="card-text" id="ling-content" style="min-height: 65px;" > <small>

                                {{this.content}}
                            </small> 
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                            <div class="col-lg-12">
                                <a href="/upvote?lingId={{this.id}}"  id="{{this.id}}" class="btn like float-lg-left"><i class="fas fa-heart"></i> <sub>{{this.upVote}}</sub> </a>
                                <a href="#" class="btn  text-info" ><i class="fas fa-retweet"></i></a>
                                <a href="#" class="btn float-lg-right text-danger"><i class="fas fa-feather"></i></a>
                            </div>
                            
                        </div>
                    </div>
                </div>                
            {{!-- </div> --}}
            </button>
        </div>
        {{/each}}
</div>
    
